<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="forum.css">
    <title>forum</title>
</head>
<body>
    <nav class="navbar">
        <img src="images/nurturemom.png" class="logo" alt="">
        <ul class="links-container">
            <li class="link-item"><a href="/Landing-page.html" class="link">home</a></li>
            <li class="link-item"><a href="/blog.html" class="link">Blogs</a></li>
            <li class="link-item"><a href="/forum.html" class="link">Forum</a></li>
            <li class="link-item"><a href="/login.html" class="link">Login/Signup</a></li>
        </ul>
    </nav>
    
    <div class="row">
        <div class="column">
          <div class="card">
            <img src="images/mums.jpg" alt="Jane" style="width:100%">
            <div class="container">
              <h2>Blogs</h2>
              <p class="title">Access a support group of your choice</p>
              <p>Connect with other mums & mums-to-be through WhatsApp support groups for women with various interests & experiences.</p>
              <p><button class="button">JOIN PRIVATE COMMUNITY</button></p>
            </div>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <img src="images/apps.jpg" alt="Mike" style="width:100%">
            <div class="container">
              <h2>Forum</h2>
              <p class="title">Join our Social
              Channels</p>
              <div class="icon">
                <i class="fa fa-instagram"></i>
              </div>
            </div>
          </div>
        </div>

</body>
</html>