*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  position: relative;
  font-family: 'poppins', sans-serif;
}

::selection{
  background: #1b1b1b;
  color: #fff;
}

.navbar{
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
  background: #fff;
  z-index: 9;
}

.links-container{
  display: flex;
  list-style: none;
}

.link{
  padding: 10px;
  margin-left: 10px;
  text-decoration: none;
  text-transform: capitalize;
  color: #000;
}

* {
  font-size: 2rem;
  font-family: 'Righteous', cursive;
  font-weight: bold;
}
body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: burlywood;
}
.main {
  width: 19rem;
  height: 5rem;
  padding: 12px;
  background-color: white;
  text-align: center;
  border-radius: 3rem;
  overflow: hidden;
  transition: width .6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.main>#singular-form {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: white;
}
.main>#singular-form button {
  width: 9rem;
  padding: 0;
  border: none;
  outline: none;
  border-radius: 3rem;
  cursor: pointer;
}
.main>#singular-form>button#subs {
  padding: 0;
  width: 100%;
  color: burlywood;
  background-color: transparent;
  z-index: 3;
}
.main>#singular-form>#email-input {
  z-index: 2;
}
.main>#singular-form>#email-input>input {
  display: inline-block;
  height: 100%;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  border: none;
  outline: none;
  padding: 0 26% 0 3%;
  opacity: 0;
  transform: scale(0);
  transition: all .6s ease .4s;
}
.main>#singular-form>#email-input>button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-color: burlywood;
  color: white;
  opacity: 0;
  transform: scale(0);
  transition: all .6s ease .4s;
}
.main>#singular-form>#success {
  display: flex;
  justify-content: center;
  align-items: center;
  color: burlywood;
  font-weight: bold;
  z-index: 1;
}
.main>#singular-form>button#subs,
.main>#singular-form>#email-input,
.main>#singular-form>#success {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: scale(0);
  opacity: 0;
}
.main>#singular-form>button#subs {
  transition: all .6s ease;
}
.main>#singular-form>#email-input {
  transform: scale(1);
  opacity: 1;
  transition: all .6s ease .4s;
}

.main>#singular-form>#success {
  transition: all .2s ease .6s;
}
.main>#singular-form>button#subs.shown,
.main>#singular-form>#email-input.shown,
.main>#singular-form>#success.shown,
.main>#singular-form>#email-input>button.shown,
.main>#singular-form>#email-input>input.shown {
  transform: scale(1);
  opacity: 1;
}